.root {
    .title {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 25px;
        text-transform: uppercase;
        color: white;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
    }
    .item img{
        max-width: 100%;
    }
}
